body{
    background:color #f4f4f4;
    color:#636161;

    font-family:/*Comic Sans MS, */Helvetica, 
        Arial, sans-serif;

    font-size:18px;
    font-weight:bold;
    margin:0;
}

a{
    text-decoration:none;
    color:rgb(30, 37, 80);
    font-size:22px;
}

a:hover{
    color:rgb(115, 12, 233);
}

.container{
    width:80%;
    margin:auto;
}
.container-2{
    width:70%;
    margin:auto;
}

.box-1{
    background-color:#333;
    color:#ffffff;
    border:15px rgb(115, 12, 233) dotted;
    text-align:center;
    padding-bottom:2%;
    margin-top:3%;
}
.box-2{
    background-color:rgb(26, 80, 40);
    color:#ffffff;
    border:15px rgb(46, 184, 83) solid;
    text-align:center;
    padding-bottom:5%;
    margin-top:5%;
}

.box-3{
    background-color:rgb(26, 72, 105);
    color:#ffffff;
    border:10px rgb(0, 23, 71) dashed;
    text-align:center;
    padding-bottom:5%;
    margin-top:5%;
}

.blog-1{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);

    padding:15px;
    border:5px rgb(118, 130, 156) dashed;
    border-radius:10px;
    margin-top:1.6em;
    margin-bottom:2em;
}

.blog-1 ul{
    padding:10px;
    list-style:none;
}
.blog-1 li{
    padding:5px;
    border:3px rgb(109, 109, 109) solid;
    margin:10px;
}
.blog-1 a{
    text-decoration:none;
    color:rgb(0, 0, 0);
}
.blog-1 a:hover{
    color:rgb(0, 110, 236);
}

.button{
    background-color:rgb(26, 80, 40);
    color:#ffff;
    border:none;
    padding:8px;
    margin:10px 40%;
}

.button:hover{
    background-color:rgb(35, 104, 53);
    color:#ffff;
    border:none;
    padding:8;
}

.categories{
border:4px #ccc solid;
padding:10px;
border-radius:15px;
text-align:center;
}

.categories ul{
    padding:15px;
    list-style:none;
}
.categories li{
    padding:5px;
    border:solid 2px #ccc;
    margin:10px;
}
